<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>Get Weather!</title>
	</head>
	<body>
		<div id="centrar">
		<a name="Inicio"></a>
		<a class="navbar-brand" href="/"><img src="static/images/icono.png" alt="Get Weather!"></a>
		<h1>Get Weather!</h1>
		<form id="search_form" action="/resultado" method="post">  
	    <br/><p>Introduce el nombre de la localidad de la cual quieres obtener su informacion metereológica.</p>
	    	<input type="text" name="text" id="text" placeholder="Buscar tiempo..." class="cform-text" size="25" title="entrada"/>
	    	<input type="submit" value="Obtener" class="cform-submit"/>
	    </form>
	</body>
</html>