body
{
	margin-top: 35px;
	margin-left: 200px;
	margin-right: 200px;
	float: center;
	padding: 0;
	font: 100%/1.3 helvetica, arial, sans-serif;
	color: #444;
	background: #fff;
}

#centrar
{
	float: center;
	font-size: 18px;
}

#row1col1
{
	
	width: 100%;
	background: #fff;
}

#row1col1 h3
{
	font-size: 100px;
}

#error
{
	margin-top: 45px;
	margin-left: 0px;
	margin-right: 0px;
	font-size: 18px;
}

#container
{
	margin: 0 auto;
	width: 100%;
	background: #fff;
}

#header
{
	background: #ccc;
	padding: 20px;
}

#header h1 { margin: 0; }

#navigation
{
	float: left;
	width: 100%;
	background: #333;
}

#navigation ul
{
	margin: 0;
	padding: 0;
}

#navigation ul li
{
	list-style-type: none;
	display: inline;
}

#navigation li a
{
	display: block;
	float: left;
	padding: 5px 10px;
	color: #fff;
	text-decoration: none;
	border-right: 1px solid #fff;
}

#navigation li a:hover { background: #383; }

#content-container1
{
	float: left;
	width: 100%;
	background: #fff url() repeat-y 20% 0;
}

#content-container2
{
	float: left;
	width: 100%;
	background: url(/static/images/layout-three-liquid-background1.gif) repeat-y 80% 0;
}

#section-navigation
{
	float: left;
	width: 16%;
	padding: 20px 0;
	margin: 0 2%;
	display: inline;
}

#section-navigation ul
{
	margin: 0;
	padding: 0;
}


#content
{
	margin-left: 200px;
	float: center;
	width: 56%;
	padding: 20px 0;
	margin: 0 0 0 2%;
	border: px;
}

#content h2 { margin: 0; }

#content table
{
	color: red;
}

#aside
{
	float: right;
	width: 16%;
	padding: 20px 0;
	margin: 0 2% 0 0;
	display: inline;
}

#footer
{
	clear: both;
	background: #ccc;
	text-align: right;
	padding: 20px;
	height: 1%;
}

#desaparecer
{
	text-indent: -10000px;
}

#desaparecer2
{
	text-indent: -10000px;
}

.datagrid table 
{ 
	border-collapse: collapse;
	text-align: left;
	width: 100%;
}

.datagrid 
{
	font: normal 12px/150% Arial, Helvetica, sans-serif;
	background: #fff;
	overflow: hidden;
	border: 4px solid #006699;
}

.datagrid table td, .datagrid table th 
{ 
	padding: 9px 3px;
}

.datagrid table tbody td 
{
	color: #00557F;
	border-left: 4px solid #00557F;
	font-size: 17px;
	border-bottom: 4px solid #00557F;
	font-weight: bold;
}

.datagrid table tbody .alt td 
{
	background: #F5FCFC;
	color: #00557F;
}

.datagrid table tbody td:first-child 
{
 	border-left: none;
}

 .datagrid table tbody tr:last-child td 
 { 
 	border-bottom: none;
}